<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="E_Commerce.MyStore.EndToEndProductOrderTest"/>
      <class name="E_Commerce.MyStore.AddProductToCartTest"/>
      <class name="E_Commerce.MyStore.NewRegistrationTest"/>
      <class name="E_Commerce.MyStore.HomePageTest"/>
      <class name="E_Commerce.MyStore.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
